<div class="div-md-centralize text-center" style="height: 300px;">
    <h6>Foi confirmada sua chegada a doca<br>
        Favor aguardar o atendimento
    </h6>
    <br>
    <img src="/img/checkInIcon.png" alt="Lu">

</div>