<div class="div-md-centralize">
    <div class="form-group">
        <form action="/vehicleData" method="post">
            <h5 class="h5 text-center">Dados para liberação</h5>
            <div class="text-center"><small style="color: #666;">Caso haja divergência de dados conferir no cadastro as
                    informações do veículo</small></div>
            <hr>
            <div class=" mb-4"></div>
            <label for="name">Nome do motorista</label>
            <input type="text" name="name" value="{{user.name}}" class="form-control mb-2" required disabled>
            <label for="vehiclePlate">Placa do veículo</label>
            <input type="text" name="vehiclePlate" class="form-control mb-2" required>
            <label for="dock">Doca</label>
            <input type="text" name="dock" value="{{viewData.dock}}" class="form-control mb-2" required disabled>
            <input type="submit" value="Confirmar dados" class="btn btn-info btn-block">
        </form>
    </div>