@import './_resets.css';

body {
    background-color: #2c2c2c;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

#userName {
    color: #FFF;
    text-transform: uppercase;
}

.div-md-centralize {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}

.div-lg-centralize {
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}

#div-filter-admin {
    
}

#div-table-admin {
    
}

#subirTopo {
text-decoration: none;
background: rgba(37, 37, 37, 0.9);
bottom: 30px;
border: 2px solid #FFF;
right: 30px;
color: #ffffff;
text-align: center;
cursor: pointer;
padding: 15px;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
position: fixed;
font-family: sans-serif;
opacity: .8;
}

#subirTopo:hover {
opacity:1;
}